Jason C. Reyes

21 December 2024

In [5]:
from postgres_connection import db

with db() as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM "EUGasNet" LIMIT 5')
        columns = [desc[0] for desc in cur.description]
        data = cur.fetchall()
        
# Create DataFrame with column names
import pandas as pd
df = pd.DataFrame(data, columns=columns)
df.head()

,id,date,export_country_code,import_country_code,LNG_share,PRO_share,RU_share,AZ_share,DZ_share,NO_share,RS_share,TR_share,LY_share,TOTAL
0,1,2016-01-02,AT,DE,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,40806864.0000
1,2,2016-01-02,AT,HU,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,215330329.0000
2,3,2016-01-02,AT,IT,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,1570189833.0000
3,4,2016-01-02,AT,SI,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,153549330.0000
4,5,2016-01-02,BE-LU,FR,0.1049,0.7138,0.1153,0.0000,0.0000,0.0659,0.0000,0.0000,0.0000,919868567.0000