Jason C. Reyes

21 December 2024

In [45]:
from postgres_connection import db
import pandas as pd

with db() as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM "EUGasNet" LIMIT 10')
        columns = [desc[0] for desc in cur.description]
        data = cur.fetchall()
        
df = pd.DataFrame(data, columns=columns)
df

,id,date,export_country_code,import_country_code,LNG_share,PRO_share,RU_share,AZ_share,DZ_share,NO_share,RS_share,TR_share,LY_share,TOTAL
0,1,2016-01-02,AT,DE,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,40806864.0000
1,2,2016-01-02,AT,HU,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,215330329.0000
2,3,2016-01-02,AT,IT,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,1570189833.0000
3,4,2016-01-02,AT,SI,0.0342,0.4907,0.3752,0.0001,0.0001,0.0994,0.0001,0.0001,0.0001,153549330.0000
4,5,2016-01-02,BE-LU,FR,0.1049,0.7138,0.1153,0.0000,0.0000,0.0659,0.0000,0.0000,0.0000,919868567.0000
5,6,2016-01-02,BE-LU,NL,0.1049,0.7138,0.1153,0.0000,0.0000,0.0659,0.0000,0.0000,0.0000,26059048.0000
6,7,2016-01-02,BG,GR,0.0017,0.7287,0.2318,0.0012,0.0001,0.0014,0.0002,0.0348,0.0001,217088105.0000
7,8,2016-01-02,CH,IT,0.0601,0.5049,0.3353,0.0001,0.0003,0.0990,0.0001,0.0001,0.0001,388539273.0000
8,9,2016-01-02,CZ,DE,0.0341,0.4816,0.3787,0.0001,0.0001,0.1052,0.0001,0.0001,0.0001,1305922713.0000
9,10,2016-01-02,CZ,SK,0.0341,0.4816,0.3787,0.0001,0.0001,0.1052,0.0001,0.0001,0.0001,162663406.0000

In [42]:
with db() as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT COUNT(*) FROM "EUGasNet"')
        count = cur.fetchone()[0]
        print(f"Total rows in EUGasNet: {count}")

Total rows in EUGasNet: 154296